{% extends "layout.html" %}

{% block title %}
Tweet App 
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Django Mastey</h1>

<a  class="btn btn-primary mb-4" href="{%url 'tweet_create'%}"> Create New Tweet Here...</a>

<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src={{tweet.photos.url}} class="card-img-top" alt="---">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          <a href="{% url 'tweet_edit' tweet.id%}" class="btn btn-primary m-1">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id%}" class="btn btn-danger m-1">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}